body {
  color: #434455;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: regular;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

.hero-section {
  background-color: #2e2f42;
}

.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}

.hero {
  color: #fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 56px;
  letter-spacing: 0.02em;
  line-height: 1.07;
}

a {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 4%;
  font-style: normal;
  color: #2e2f42;
}

.contacts {
  font-style: normal;
}

.contact-items {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-items:hover,
.contact-items:focus {
  color: #404bbf;
}

.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #fff;
}

button:hover,
button:focus {
  background-color: #404bbf;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 2%;
  line-height: 42px;
}

.features-item-name {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.features-item-description {
  letter-spacing: 0.02em;
}

.logo {
  margin-left: 2%;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo > span {
  color: #2e2f42;
}
.team {
  background-color: #f4f4fd;
}

.team-name {
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-item {
  background-color: #fff;
}

.team-item-name {
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

.team-position {
  letter-spacing: 0.02em;
}

.menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.cart-name {
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.cart-item-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.cart-item-description {
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
}
.footer .logo span {
  color: #f4f4fd;
}

.footer-description {
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
